<%= form_tag import_path, method: :post, multipart: true do -%>

  <% if @importer.errors.any? -%>
    <ul class="errors">
      <% @importer.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <% end -%>
    </ul>
  <% end -%>

  <% if flash[:gross_revenue] -%>
    <%# A presenter might be useful right about now. %>
    <p><em><%= t('import.revenue', gross_revenue: number_to_currency(flash[:gross_revenue], precision: 0)) %></em></p>
  <% end -%>

  <p>
    <%= label_tag :tab_file, t('import.fields.tab_file') %>
    <%= file_field_tag :tab_file %>
  </p>

  <p><%= submit_tag 'Import' %></p>

<% end -%>